extends ../../components/base/base
block title
    | Events page
block main
    .topSecondaryBar.d-none.d-md-flex
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Financial Results]
            li.topSecondaryBar__menuItem #[a(href="team.html").topSecondaryBar__menuLink Corporate Governance]
            li.topSecondaryBar__menuItem #[a(href="events.html").topSecondaryBar__menuLink.active Events]
    .topBanner
        .topBanner__imageWrapper
            img(src=require("./images/eventsTop.jpg")).topBanner__image
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Next Event
                h3.topBanner__text #[i.fa.fa-calendar] Find your purpose and build relationships
                h3.topBanner__text #[i.fa.fa-map-marker] with a ID Finance             
    .main.container.custom-container
        .main__wrapper
            h2.title Calendar 2018
            .eventsList 
                .eventsList__header.d-none.d-md-flex
                    .eventsList__haderDate Date
                    .eventsList__haderEvent Event
                    .eventsList__haderVenue Venue
                .eventsList__items
                    .eventsList__item
                        .eventsList__itemDate #[i.fa.fa-calendar] 15 - 17 January 2018
                        .eventsList__itemName Euromoney Central and Eastern European Forum
                        .eventsList__itemPlace #[i.fa.fa-map-marker] Vienna
                        .eventsList__itemAction.active(
                            data-toggle="modal" 
                            data-target="#eventsModal" 
                            data-title="title"
                            data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. "
                        ) Meet to us
                        .eventsList__itemAction.ended Ended
                    .eventsList__itemHr
                    .eventsList__item
                        .eventsList__itemDate #[i.fa.fa-calendar] 7 June 2018
                        .eventsList__itemName Renaissance Capital's 22th Annual Russia investor Conference
                        .eventsList__itemPlace #[i.fa.fa-map-marker] Moskow
                        .eventsList__itemAction.active(
                            data-toggle="modal" 
                            data-target="#eventsModal" 
                            data-title="title"
                            data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. "
                        ) Meet to us
                        .eventsList__itemAction.ended Ended
                    .eventsList__itemHr
                    .eventsList__item
                        .eventsList__itemDate #[i.fa.fa-calendar] 10 August 2018
                        .eventsList__itemName Conference call & webcast: TCS Group Q1 2018 IFRS Results
                        .eventsList__itemPlace #[i.fa.fa-map-marker] St.Petersburg
                        .eventsList__itemAction.active(
                            data-toggle="modal" 
                            data-target="#eventsModal" 
                            data-title="title"
                            data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. "
                        ) Meet to us
                        .eventsList__itemAction.ended Ended
                    .eventsList__itemHr
                    .eventsList__item.ended
                        .eventsList__itemDate #[i.fa.fa-calendar] 25 August 2018
                        .eventsList__itemName JPM Global EM Corporate Conference1
                        .eventsList__itemPlace #[i.fa.fa-map-marker] London
                        a(href="#").eventsList__itemAction.active Meet to us
                        .eventsList__itemAction.ended Ended
                    .eventsList__itemHr
                    .eventsList__item.ended
                        .eventsList__itemDate #[i.fa.fa-calendar] 25 September 2018
                        .eventsList__itemName Money 2020
                        .eventsList__itemPlace #[i.fa.fa-map-marker] Amsterdam
                        a(href="#").eventsList__itemAction.active Meet to us
                        .eventsList__itemAction.ended Ended
                    .eventsList__itemHr    
                ul.eventsList__navigation.d-none.d-md-flex 
                    li.eventsList__navigationItem
                        a(href="#").eventsList__navigationLink 2017
                    li.eventsList__navigationItem
                        a(href="#").eventsList__navigationLink 2016
                    li.eventsList__navigationItem
                        a(href="#").eventsList__navigationLink 2015
                    li.eventsList__navigationItem
                        a(href="#").eventsList__navigationLink 2014
                    li.eventsList__navigationItem
                        a(href="#").eventsList__navigationLink 2013     
                .eventsList__navigation-mobile.d-inline-block.d-md-none 
                    select.eventsList__navigation-mobileSelect
                        option(value="2018") 2018
                        option(value="2017") 2017
                        option(value="2017") 2016
                        option(value="2017") 2015
                        option(value="2017") 2014
                        option(value="2017") 2013
    #eventsModal.modal.modal-custom.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered.eventsModal(role='document')
            .modal-content
                .modal-header
                    span.close(type='button', data-dismiss='modal', aria-label='Close') x
                .modal-body.eventsModal__body
                    .eventsModal__top
                        .modal-title.eventsModal__title
                        .modal-text.eventsModal__text
                    form.eventsModal__form
                        .eventsModal__formRow
                            label(for="eventsName").eventsModal__formLabel Name
                            input(type="text" value="" id="eventsName" name="eventsName").eventsModal__formInput
                        .eventsModal__formRow
                            label(for="eventsEmail").eventsModal__formLabel Email
                            input(type="email" value="" id="eventsEmail" name="eventsEmail").eventsModal__formInput
                        .eventsModal__formRow
                            label(for="eventsPhone").eventsModal__formLabel Phone
                            input(type="text" value="" id="eventsPhone" name="eventsPhone").eventsModal__formInput
                        .eventsModal__formRow.eventsModal__formRow-bottom
                            .eventsModal__agreement 
                                label(for="agreement").eventsModal__checkboxLable
                                    input(type="checkbox" id="agreement" name="agreement").eventsModal__checkbox
                                    span.eventsModal__checkboxOuter.fa
                                .eventsModal__agreementsText Я согласен на обработку персональных данных
                        .eventsModal__formRow
                            input(value="Отправить" type="submit").eventsModal__submit