extends ../../components/base/base
block title
    | Index page
block main
    .topBanner.topBanne-large
        .topBanner__imageWrapper
            img(src=require("./images/index_main.jpg")).topBanner__image
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Data Science. Credit Scoring.#[br]Digital Finance
                h3.topBanner__text ID Finance is a fast-growing fintech company specializing in data science, credit scoring and digital finance in emerging and well-developed markets.
        .topBanner__down.d-block.d-md-none
            img(src=require("./images/down.png"))
    .main.container.custom-container.custom-fluid-container
        .main__wrapper
            .infoBlock
                .infoBlock__data
                    .infoBlock__title About us
                    .infoBlock__text
                        p Founded by Russian-born and UK-educated Boris Batine and Alexander Dunaev and headquartered in Barcelona, ID Finance is a fast growing data science, credit scoring and digital finance provider globally focused on emerging markets.  
                        p We are pioneering fintech innovation in seven countries across Europe, Asia and Latin America, have several geographies pipelined. The company has been recognised as a unicorn of tomorrow by London investment bank, GP Bullhound, has been also named by Financial Times as the second-fastest-growing fintech in Europe in its FT 1000 Europe listing. We have 5.3m registered clients, saw an 89% revenue growth in 2017. 
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/index_1.jpg"))
            .infoBlock
                .infoBlock__data
                    .infoBlock__title Products и Технологии
                    .infoBlock__text
                        p Our proprietary and fully automated scoring technology uses data science and machine learning to determine financial condition of the client to offer him the right product and convenient service at the right moment of his life.
                        p We offer a variety of financial products ranging from credit history reports, to loans, insurances and POS installment service. We process 100% of our operations in real time and have one of the best performing risk management systems in the industry thanks to our advanced data science capabilities. While we are growing aggressively, we also practice responsible approach to financials, paying special attention to customer care, security and personal data protection. We fully comply with all regulatory clauses of national authorities.
                        p There are several technologies and software engines developed by our talented team.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/index_2.jpg"))
            .mainPartners.row
                .mainPartners__item.col-6.col-md-3
                    .mainPartners__logoWrapper
                        img.mainPartners__logo(src=require("./images/ft-logo.png"))
                    .mainPartners__title TOP 2 FASTEST-GROWING FINTECH COMPANY IN EUROPE
                .mainPartners__item.col-6.col-md-3
                    .mainPartners__logoWrapper
                        img.mainPartners__logo(src=require("./images/inc-logo.png"))
                    .mainPartners__title TOP 50 FASTEST-GROWING PRIVATE EUROPEAN COMPANIES
                .mainPartners__item.col-6.col-md-3
                    .mainPartners__logoWrapper
                        img.mainPartners__logo(src=require("./images/silicon-logo.png"))
                    .mainPartners__title TOP 20 EUROPEAN FINTECH START-UPS
                .mainPartners__item.col-6.col-md-3
                    .mainPartners__logoWrapper
                        img.mainPartners__logo(src=require("./images/benzinga-logo.png"))
                    .mainPartners__title BEST EMERGING MARKET SOLUTION CATEGORY FINALIST
            .nextEvent
                .nextEvent__title Next event
                .nextEvent__wrapper
                    .nextEvent__date 
                        i.fa.fa-calendar 
                        | 15 —17 January 2018
                    .nextEvent__name Euromoney Central and Eastern European Forum
                    .nextEvent__place 
                        i.fa.fa-map-marker
                        | Vienna
                .nextEvent__more
                    a(href="#").nextEvent__moreLink More
            .partnersSlider.slider-wrapper
                a(href="#")
                    img(src=require("./images/forbes-logo.png"))
                a(href="#")
                    img(src=require("./images/businessInsider-logo.png"))
                a(href="#")
                    img(src=require("./images/tc-logo.png"))
                a(href="#")
                    img(src=require("./images/finextra-logo.png"))
                a(href="#")
                    img(src=require("./images/theBanker-logo.png"))
                a(href="#")
                    img(src=require("./images/forbes-logo.png"))
                a(href="#")
                    img(src=require("./images/businessInsider-logo.png"))
                a(href="#")
                    img(src=require("./images/tc-logo.png"))
                a(href="#")
                    img(src=require("./images/finextra-logo.png"))
                a(href="#")
                    img(src=require("./images/theBanker-logo.png"))
