extends ../../components/base/base
block title
    | Team page
block main
    .topSecondaryBar.d-none.d-md-flex
        ul.topSecondaryBar__menu.container.custom-container
            li.topSecondaryBar__menuItem #[a(href="#").topSecondaryBar__menuLink Financial Results]
            li.topSecondaryBar__menuItem #[a(href="team.html").topSecondaryBar__menuLink.active Corporate Governance]
            li.topSecondaryBar__menuItem #[a(href="events.html").topSecondaryBar__menuLink Events]
    .topBanner
        .topBanner__imageWrapper
            img(src=require("./images/teamTop.jpg")).topBanner__image
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Become part of out team!
                h3.topBanner__text Find your purpose and build relationships#[br]with a ID Finance              
    .main.container.custom-container
        .main__wrapper.main__wrapper-fluid
            .teamBlock
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team1.jpg")
                    data-name="Boris Batine"
                    data-position="CEO, founder"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team1.jpg")).teamBlock__img
                    .teamBlock__name Boris Batine
                    .teamBlock__position CEO, founder 
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team2.jpg")
                    data-name="Alexander Dunaev"
                    data-position="COO, founder"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team2.jpg")).teamBlock__img
                    .teamBlock__name Alexander Dunaev
                    .teamBlock__position COO, founder  
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team3.jpg")
                    data-name="Kieran Donnely"
                    data-position="Board Member"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team3.jpg")).teamBlock__img
                    .teamBlock__name Kieran Donnely
                    .teamBlock__position Board Member 
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team4.jpg")
                    data-name="Ekatetina Kazak"
                    data-position="CRO"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team4.jpg")).teamBlock__img
                    .teamBlock__name Ekatetina Kazak
                    .teamBlock__position CRO                                                        
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal"
                    data-name="Javier Lopez"
                    data-position="CFO" 
                    data-image=require("./images/team5.jpg")
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team5.jpg")).teamBlock__img
                    .teamBlock__name Javier Lopez
                    .teamBlock__position CFO 
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal"
                    data-name="Alessandro Ceschel"
                    data-position="CMO" 
                    data-image=require("./images/team6.jpg")
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team6.jpg")).teamBlock__img
                    .teamBlock__name Alessandro Ceschel
                    .teamBlock__position CMO 
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team7.jpg")
                    data-name="Pavel Shareiko"
                    data-position="CTO"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team7.jpg")).teamBlock__img
                    .teamBlock__name Pavel Shareiko
                    .teamBlock__position CTO
                .teamBlock__item(
                    data-toggle="modal" 
                    data-target="#teamModal" 
                    data-image=require("./images/team8.jpg")
                    data-name="Rosa Modergo"
                    data-position="Head of Legal<br>and Compliance"
                    data-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis egestas orci. Phasellus vel dolor sit amet sapien consectetur tempor non et tortor. Aliquam eget consectetur turpis. Ut magna elit, molestie id orci ut, lobortis ornare dolor. In sagittis erat vel cursus volutpat. Vivamus sit amet odio pellentesque felis sollicitudin rhoncus. Praesent laoreet elit tortor, a rhoncus risus lacinia a. Curabitur vel risus a metus iaculis faucibus vel vel sem.<br><br>Nam id imperdiet eros. Aliquam ut finibus nunc. Donec bibendum eleifend nulla ut accumsan. Aenean et nunc sapien. Donec finibus lectus sit amet felis luctus porta. Integer bibendum diam a lorem blandit, ut pretium turpis finibus. Duis interdum lectus sit amet pharetra dignissim. In ut euismod leo, eget blandit nunc. Nulla facilisi.Nunc efficitur nec felis id pharetra. Sed ac sollicitudin lectus. Donec ultricies ornare sapien in suscipit. Quisque ac lobortis ante, at dignissim dui."
                    )
                    img(src=require("./images/team8.jpg")).teamBlock__img
                    .teamBlock__name Rosa Modergo
                    .teamBlock__position Head of Legal #[br]and Compliance           
    .connectUs
        .connectUs__wrapper.container.custom-container
            .connectUs__title Connect With Us
            .connectUs__text Stay up to date on ID Finance and possible oppurtunities that open in areas that interest you.
            form.connectUs__form
                .connectUs__formRow
                    .connectUs__formRowsWrapper
                        input(placeholder="Name" value="" type="text" name="contactName").connectUs__formInput.connectUs__formInput-large
                        input(placeholder="Email" value="" type="email" name="contactEmail").connectUs__formInput.connectUs__formInput-large
                    input(value="Join" type="submit" name="contactsubmit").connectUs__formSubmit
                .connectUs__formBottom
                    label(for="agreement").connectUs__formCheckboxLable
                        input(type="checkbox" id="agreement" name="agreement").connectUs__formCheckbox
                        span.connectUs__formCheckboxOuter.fa
                    .connectUs__formBottomText #[span.connectUs__formCheckboxSpanLable I Consent.] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius malesuada convallis. Phasellus pellentesque, mi id consectetur cursus, sapien lorem laoreet velit, vulputate molestie risus quam eu est.
    .main.container.custom-container.custom-fluid-container
        .main__wrapper.main__wrapper-fluid                 
            .infoBlock__slickWrapper
                .infoBlock.infoBlock-m4
                    .infoBlock__data
                        .infoBlock__title Why work for us?
                        .infoBlock__text
                            p ID Finance is a fast-growing data science, credit scoring and digital finance company that is pioneering fintech innovation in emerging markets. ID Finance uses its proprietary IT infrastructure and risk management capabilities to develop innovative financial solutions. ID Finance brings financial innovations into emerging markets.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel malesuada lorem, non accumsan lectus. Aenean eget velit ligula. Integer pretium egestas sem, vitae rhoncus urna viverra at.
                    .infoBlock__imageWrapper
                        img.infoBlock__image(src=require("./images/teamImg.jpg"))
                .infoBlock.infoBlock-m4
                    .infoBlock__data
                        .infoBlock__title Why work for us?
                        .infoBlock__text
                            p ID Finance is a fast-growing data science, credit scoring and digital finance company that is pioneering fintech innovation in emerging markets. ID Finance uses its proprietary IT infrastructure and risk management capabilities to develop innovative financial solutions. ID Finance brings financial innovations into emerging markets.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel malesuada lorem, non accumsan lectus. Aenean eget velit ligula. Integer pretium egestas sem, vitae rhoncus urna viverra at.
                    .infoBlock__imageWrapper
                        img.infoBlock__image(src=require("./images/teamImg.jpg"))
                .infoBlock.infoBlock-m4
                    .infoBlock__data
                        .infoBlock__title Why work for us?
                        .infoBlock__text
                            p ID Finance is a fast-growing data science, credit scoring and digital finance company that is pioneering fintech innovation in emerging markets. ID Finance uses its proprietary IT infrastructure and risk management capabilities to develop innovative financial solutions. ID Finance brings financial innovations into emerging markets.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel malesuada lorem, non accumsan lectus. Aenean eget velit ligula. Integer pretium egestas sem, vitae rhoncus urna viverra at.
                    .infoBlock__imageWrapper
                        img.infoBlock__image(src=require("./images/teamImg.jpg"))
    #teamModal.modal.modal-custom.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered.teamModal(role='document')
            .modal-content
                .modal-header
                    span.close(type='button', data-dismiss='modal', aria-label='Close') x
                .modal-body.teamModal__body
                    .teamModal__top
                        .modal-image.teamModal__image
                        .teamModal__info
                            .modal-name.teamModal__name
                            .modal-position.teamModal__position
                    .modal-text