extends ../../components/base/base
block title
    | Products page
block main
    .topBanner
        img(src=require("./images/productTop.jpg"))
        .topBanner__overlay
        .topBanner__textOverlay
            .topBanner__textWrapper
                h1.topBanner__title Products и Технологии
                h3.topBanner__text Our proprietary and fully automated scoring technology uses data science and machine learning to determine financial condition of the client to offer him the right product and convenient service at the right moment of his life.
    .main.container.custom-container
        .main__wrapper
            .infoBlock
                .infoBlock__data
                    .infoBlock__text
                        p We offer a variety of financial products ranging from credit history reports, to loans, insurances and POS installment service. We process 100% of our operations in real time and have one of the best performing risk management systems in the industry thanks to our advanced data science capabilities. While we are growing aggressively, we also practice responsible approach to financials, paying special attention to customer care, security and personal data protection. We fully comply with all regulatory clauses of national authorities. 
                        p There are several technologies and software engines developed by our talented team.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product1.jpg"))
            .infoBlock
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product2.jpg"))
                .infoBlock__data
                    .infoBlock__title Behavioural biometrics
                    .infoBlock__text
                        p ID Finance has incorporated behavioural biometrics into its scoring engine to eliminate fraud, and provide a convenient way of client’s identification. 
                        p The behavioural biometrics system studies the unique typing and behavioural patterns users display during the loan application process to capture a range of patterns. These include mouse movements, to how fingers interact with a keyboard. The biometrics record patterns such typing speed, typos, flight time between keys, keystroke depressions, as well as the patterns from actual input.
            .infoBlock
                .infoBlock__data
                    .infoBlock__title Propensity scoring
                    .infoBlock__text
                        p ID Finance has introduced a ML-based propensity scoring system that automatically grants each customer an individual loan discount by analysing over fifty parameters. 
                        p The software assigns the borrower a special score that evaluates his propensity to return to the service and, based on this, grants the customer a discount. The system analyses credit history data, personal traction of the customer in cooperation with the company, telecom and search engines data, socio-demographic indexes, the customer's behaviour on the web site, and so forth.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product3.jpg"))
            .infoBlock
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product4.jpg"))
                .infoBlock__data
                    .infoBlock__title AI-based fraud-scoring engine
                    .infoBlock__text
                        p ID Finance has enhanced its credit scoring capabilities with the integration of its newly developed AI-based fraud-scoring engine. By eliminating fraudulent applicants, ID Finance has been able to improve the quality, precision and speed of its credit scoring technology, boosting its products approval rate by 50 per cent. 
                        p The fraud-scoring engine works by analysing information relating to the applicant’s authenticity and detecting atypical behaviour or anomalies in the data provided. The engine takes into account a wide range of factors including the time spent filling in the form as well as the applicant’s web browser history.
            .infoBlock
                .infoBlock__data
                    .infoBlock__title Chatbot
                    .infoBlock__text
                        p ID Finance has developed and introduced a self-learning chatbot, which cut client services workload by a third. 
                        p The chatbot interacts with new customers and with registered users when they log in to their personal account. The chatbot helps to locate the information required to determinefinancial product eligibility, and provides recommendations of relevant products tailored to the individual’s requirements and financial prudence. General advice on personal budget planning and financial literacy is also offered.
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product5.jpg"))
            .infoBlock
                .infoBlock__imageWrapper
                    img.infoBlock__image(src=require("./images/product6.jpg"))
                .infoBlock__data
                    .infoBlock__text
                        p The chatbot works within the NLP (Natural Language Processing) and NLU (Natural Language Understanding) AI frameworks. Information is processed based on statistical matches covering a wide range of frequently asked questions. Moreover, the NLU platform enables analysis of messaging flow so the meaning of the information can be sought out in context. 
                        p Additional capabilities include finding non-trivial links in dialogue with users and providing relevant answers to questions unrelated to credit and finance. Thanks to the machine learning technology, the number of questions the chatbot is ableto answer increases by several percent daily.